<div class="work mt-5">
    <span class="heading">My Work</span>
    <h2 class="title mt-2">RECENT WORK</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="work-menu">
                    <span><a href="">Graphic Design</a></span>
                    <span><a href="">Web Design</a></span>
                    <span><a href="">Software</a></span>
                    <span><a href="">Apps</a></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="image" style="background-image: url(../../../assets/images/img-1.jpg);">
                <div class="desc">
                    <h3>Work 01</h3>
                    <p class="tit">Website</p>
                    <div class="icons">
                        <span><i class="fa-solid fa-share-nodes"></i></span>
                        <span><i class="fa-regular fa-eye"></i> 100</span>
                        <span><i class="fa-regular fa-heart"></i> 49</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="image" style="background-image: url(../../../assets/images/img-2.jpg);">
                                <div class="desc">
                    <h3>Work 02</h3>
                    <p class="tit">Animation</p>
                    <div class="icons">
                        <span><i class="fa-solid fa-share-nodes"></i></span>
                        <span><i class="fa-regular fa-eye"></i> 100</span>
                        <span><i class="fa-regular fa-heart"></i> 49</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="image" style="background-image: url(../../../assets/images/img-3.jpg);">
                                <div class="desc">
                    <h3>Work 03</h3>
                    <p class="tit">Illustration</p>
                    <div class="icons">
                        <span><i class="fa-solid fa-share-nodes"></i></span>
                        <span><i class="fa-regular fa-eye"></i> 100</span>
                        <span><i class="fa-regular fa-heart"></i> 49</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="image" style="background-image: url(../../../assets/images/img-4.jpg.webp);">
                                <div class="desc">
                    <h3>Work 04</h3>
                    <p class="tit">Application</p>
                    <div class="icons">
                        <span><i class="fa-solid fa-share-nodes"></i></span>
                        <span><i class="fa-regular fa-eye"></i> 100</span>
                        <span><i class="fa-regular fa-heart"></i> 49</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="image" style="background-image: url(../../../assets/images/img-5.jpg.webp);">
                                <div class="desc">
                    <h3>Work 05</h3>
                    <p class="tit">Graphic, Logo</p>
                    <div class="icons">
                        <span><i class="fa-solid fa-share-nodes"></i></span>
                        <span><i class="fa-regular fa-eye"></i> 100</span>
                        <span><i class="fa-regular fa-heart"></i> 49</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="image" style="background-image: url(../../../assets/images/img-6.jpg.webp);">
                <div class="desc">
                    <h3>Work 06</h3>
                    <p class="tit">Web Design</p>
                    <div class="icons">
                        <span><i class="fa-solid fa-share-nodes"></i></span>
                        <span><i class="fa-regular fa-eye"></i> 100</span>
                        <span><i class="fa-regular fa-heart"></i> 49</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="button">
                <a href="" class="btn w-100">
                    LOAD MORE <i class="fa-solid fa-rotate-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>