<div class="about-us mt-5">
  <span class="heading">About Us</span>
  <h2 class="title mt-2">Who Am I?</h2>
  <p>
    <strong>Hi I'm Jackson Ford</strong> On her way she met a copy. The copy
    warned the Little Blind Text, that where it came from it would have been
    rewritten a thousand times and everything that was left from its origin
    would be the word "and" and the Little Blind Text should turn around and
    return to its own, safe country.
  </p>
  <p>
    Even the all-powerful Pointing has no control about the blind texts it is an
    almost unorthographic life One day however a small line of blind text by the
    name of Lorem Ipsum decided to leave for the far World of Grammar.
  </p>
  <div class="row">
    <div class="col-md-3">
      <div class="service bulb shadow">
        <span>
          <i class="fa-solid fa-lightbulb"></i>
        </span>
        <h3>Graphic Design</h3>
      </div>
    </div>
    <div class="col-md-3">
      <div class="service earth shadow">
        <span>
          <i class="fa-solid fa-earth-africa"></i>
        </span>
        <h3>Web Design</h3>
      </div>
    </div>
    <div class="col-md-3">
      <div class="service data shadow">
        <span>
          <i class="fa-solid fa-database"></i>
        </span>
        <h3>Software</h3>
      </div>
    </div>
    <div class="col-md-3">
      <div class="service mobile shadow">
        <span>
          <i class="fa-solid fa-mobile-screen"></i>
        </span>
        <h3>Application</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <h2>
          I am happy to know you <br />
          that 300+ projects done sucessfully!
        </h2>
        <a href="" class="btn-hire">HIRE ME</a>
      </div>
    </div>
  </div>
</div>
