<div class="contact mt-5">
    <span class="heading">GET IN TOUCH</span>
    <h2 class="title mt-2">CONTACT</h2>

    <div class="row">
        <div class="col-md-5">
            <div class="content">
                <div class="icon">
                    <i class="fa-solid fa-earth-africa"></i>
                </div>
                <div class="text">
                    <p>info.domain.com</p>
                </div>
            </div>
            <div class="content">
                <div class="icon">
                    <i class="fa-regular fa-map"></i>
                </div>
                <div class="text">
                    <p class="par">198 West 21th Street, Suite<br> 721 New York NY 10016</p>
                </div>
            </div>
            <div class="content">
                <div class="icon">
                    <i class="fa-solid fa-phone-flip"></i>
                </div>
                <div class="text">
                    <p>+123 456 7890</p>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-10">
                    <div class="forms">
                        <form action="">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Name">
                                <label for="floatingInput">Name</label>
                              </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Email address</label>
                              </div>
                              <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Subject">
                                <label for="floatingInput">Subject</label>
                              </div>
                              <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 110px"></textarea>
                                <label for="floatingTextarea2">Message</label>
                              </div>
                        </form>
                    </div>
                    <div class="button mt-3">
                        <a class="btn">SEND MESSAGE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
