<div class="blog mt-5">
  <span class="heading">Read</span>
  <h2 class="title mt-2">RECENT BLOG</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="blog-entry">
        <div class="card" style="width: 18rem">
          <img src="assets/images/blog-1.jpg.webp" class="card-img-top" />
          <div class="card-body">
            <div class="card-text">
              <span
                >April 14, 2018 | Web Design |<i
                  class="fa-regular fa-comment"
                ></i>
                4</span
              >
              <h3>Renovating National Gallery</h3>
              <p>
                Separated they live in Bookmarksgrove right at the coast of the
                Semantics, a large language ocean.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="blog-entry">
        <div class="card" style="width: 18rem">
          <img src="assets/images/blog-2.jpg.webp" class="card-img-top" />
          <div class="card-body">
            <div class="card-text">
              <span
                >April 14, 2018 | Web Design |<i
                  class="fa-regular fa-comment"
                ></i>
                4</span
              >
              <h3>Renovating National Gallery</h3>
              <p>
                Separated they live in Bookmarksgrove right at the coast of the
                Semantics, a large language ocean.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="blog-entry">
        <div class="card" style="width: 18rem">
          <img src="assets/images/blog-3.jpg.webp" class="card-img-top" />
          <div class="card-body">
            <div class="card-text">
              <span
                >April 14, 2018 | Web Design |<i
                  class="fa-regular fa-comment"
                ></i>
                4</span
              >
              <h3>Renovating National Gallery</h3>
              <p>
                Separated they live in Bookmarksgrove right at the coast of the
                Semantics, a large language ocean.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
        <div class="button">
            <a href="" class="btn w-100">
                LOAD MORE <i class="fa-solid fa-rotate-right"></i>
            </a>
        </div>
    </div>
  </div>
</div>
