<aside class="py-5">
  <div class="head text-center">
    <div class="image">
      <img src="assets/images/about.jpg.webp" alt="author">
    </div>
    <h1 class="mt-2">
      <a href="">Jackson Ford</a>
    </h1>
    <span>
      <a href="">UI/UX/Designer</a>  in Philippines
    </span>
  </div>
  <nav class="mt-4">
    <ul class="text-center">
      <li class="active">
        <a href=""[routerLink]="['/home']">HOME</a>
      </li>
      <li>
        <a href=""[routerLink]="['/about']">ABOUT</a>
      </li>
      <li>
        <a href=""[routerLink]="['/services']">SERVICES</a>
      </li>
      <li>
        <a href=""[routerLink]="['/skills']">SKILLS</a>
      </li>
      <li>
        <a href=""[routerLink]="['/education']">EDUCATION</a>
      </li>
      <li>
        <a href=""[routerLink]="['/work']">WORK</a>
      </li>
      <li>
        <a href=""[routerLink]="['/blog']">BLOG</a>
      </li>
      <li>
        <a href=""[routerLink]="['/contact']">CONTACT</a>
      </li>
    </ul>
  </nav>
  <div class="side-bar-footer text-center mt-5">
    <p>© Copyright ©2024 All rights reserved | This template is made with <i class="fa-solid fa-heart"></i> by Colorlib
      Demo Images: Unsplash.com</p>
  </div>

</aside>
