<div class="services mt-5">
  <span class="heading">WHAT I DO?</span>
  <h2 class="title mt-2">HERE ARE SOME OF MY <br />EXPERTISE</h2>

  <div class="row">
    <div class="col-md-4">
      <div class="service bulb shadow text-center">
        <span>
          <i class="fa-solid fa-lightbulb"></i>
        </span>
        <div class="desc">
          <h3>INNOVATIVE IDEAS</h3>
          <p>
            Separated they live in Bookmarksgrove right at the coast of the
            Semantics
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service data shadow text-center">
        <span>
          <i class="fa-solid fa-database"></i>
        </span>
        <div class="desc"></div>
        <h3>Software</h3>
        <p>
          Separated they live in Bookmarksgrove right at the coast of the
          Semantics
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service mobile shadow text-center">
        <span>
          <i class="fa-solid fa-mobile-screen"></i>
        </span>
        <div class="desc"></div>
        <h3>Application</h3>
        <p>
          Separated they live in Bookmarksgrove right at the coast of the
          Semantics
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service layer shadow text-center">
        <span>
          <i class="fa-solid fa-layer-group"></i>
        </span>
        <div class="desc"></div>
        <h3>GRAPHIC DESIGN</h3>
        <p>
          Separated they live in Bookmarksgrove right at the coast of the
          Semantics
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service data2 shadow text-center">
        <span>
          <i class="fa-solid fa-database"></i>
        </span>
        <div class="desc"></div>
        <h3>Software</h3>
        <p>
          Separated they live in Bookmarksgrove right at the coast of the
          Semantics
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service mobile2 shadow text-center">
        <span>
          <i class="fa-solid fa-mobile-screen"></i>
        </span>
        <div class="desc"></div>
        <h3>Application</h3>
        <p>
          Separated they live in Bookmarksgrove right at the coast of the
          Semantics
        </p>
      </div>
    </div>
  </div>
</div>
